/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--Main-font), sans-serif;
  font-variation-settings: 'wght' var(--Regular);
  display: flex;
  background-image: var(--Background-gradient);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--Secondary-font), sans-serif;
  padding-top: clamp(120px, 32%, 128px);
  padding-bottom: clamp(120px, 32%, 128px);
  padding-right: clamp(14px, 17% ,120.5px);
  padding-left: clamp(14px, 17% ,120.5px);
  row-gap: 20px;
  background-color: var(--Bg-color);
}

.header__wrapper {
  width: clamp(375px, 49vw, 700px);
  margin-right: auto;
  margin-left: auto;
  border: 2px solid var(--Border-color);
}

.main__wrapper {
  width: clamp(375px, 49vw, 700px);
  margin-right: auto;
  margin-left: auto;
}

.header__title-big {
  font-weight: 400;
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header__title-small {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.677rem + 0.85vw, 1.438rem);
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-top: 100px;
  align-items: center;
}

.card {
  border: 2px solid var(--Border-color);
  background-color: var(--Bg-color);
}

.block-for-title {
  display: flex;
  align-items: center;
  padding-top: 8.5px;
  padding-bottom: 6.5px;
}

.card__title {
  font-variation-settings: 'wght' var(--Bold);
  line-height: 100%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  width: clamp(21.938rem, 15.093rem + 29.2vw, 41.375rem);
}

.container {
  position: relative;
  width: 100%;
  display: inline-block;
  border-top: 2px solid var(--Border-color);
  max-height: 696px;
}

.container__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  transform: scale(1.004);
  height: 100%;
}

.container__label {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 3.5%;
  font-family: var(--Secondary-font), sans-serif;
  font-weight: var(--Regular);
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-shadow:
  -1px 0 var(--Text-stroke-color), 
  0 1px var(--Text-stroke-color), 
  1px 0 var(--Text-stroke-color), 
  0 -1px var(--Text-stroke-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card__content {
  margin: 21.4px 25.4px 0 25.4px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0%;
}

.card__description {
  margin-bottom: 27px;
}

.card__interaction {
  margin: 25px 25px 25px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 6px;
}

.card__icon-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  outline: none;
  border: 2px solid transparent;
  padding: 0;
  justify-content: start;
  height: 38px;
  transition: 0.3s ease;
}

.card__like-button {
  background-color: transparent;
  width: 130px;
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  height: 38px;
  transition: 0.3s ease;
}

.button__text {
  font-family: var(--Secondary-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  letter-spacing: 0%;
  white-space: nowrap
}

.main__button-save {
  width: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem);
  column-gap: 8px;
  padding: 13.4px 19px 13.4px 17px;
  margin-bottom: 103px;
  background-color: var(--Bg-color);
  transition: 0.3s ease;
  fill: white;
  stroke: white;
}

.dialog {
  padding-top: 28px;
  padding-bottom: 28px;
  width: clamp(21.313rem, 21.048rem + 1.13vw, 22.063rem);
  grid-template-columns: 39px clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
  grid-template-rows: min-content auto;
  row-gap: 30px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog__text {
  font-family: var(--Secondary-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  color: var(--Text-mode-color);
  mix-blend-mode: difference;
}

.dialog__button-close {
  background-color: transparent;
  width: 100%;
  height: 100%;
  grid-column: span 2;
  padding-top: 11.1px;
  padding-bottom: 11.1px;
  transition: 0.3s ease;
}

.button__floppy {
  width: 21px;
  height: 21px;
  position: relative;
  mix-blend-mode: difference;
}

.dialog__button__floppy {
  stroke: #fff;
  mix-blend-mode: difference;
}

.brightness {
  filter: brightness(50%);
}

.contrast {
  filter: contrast(70%);
}

.blur {
  filter: blur(3px);
}

.opacity {
  filter: opacity(0.4);
}

.grayscale {
  filter: grayscale(1);
}

.saturate {
  filter: saturate(260%);
}

.mix-filter {
  filter: blur(1px) hue-rotate(180deg) sepia(50%);
}

.card__like-button:focus {
  outline: none;
}

.main__button-save:focus {
  outline: none;
}

.dialog__button-close:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px var(--Box-shadow-color);
}

.main__button-save:focus-visible {
  box-shadow: 2px 2px 0px var(--Box-shadow-color);
}

.dialog__button-close:focus-visible {
  box-shadow: 2px 2px 0px var(--Box-shadow-color);
  overflow: hidden;
  position: relative;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Bg--color-for-btn-animation);
  transform-origin: center left;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: scaleX(1);
  background-blend-mode: difference;
}

.main__button-save::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Bg--color-for-btn-animation);
  transform-origin: center left;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}

.main__button-save:hover::before {
  transform: scaleX(1);
}

.dialog__button-close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Bg--color-for-btn-animation);
  transform-origin: center left;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}

.dialog__button-close:hover::before {
  transform: scaleX(1);
}

button span {
  position: relative;
  z-index: 2;
  color: var(--Text-mode-color);
  mix-blend-mode: difference;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--Border-color);
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
}

.like-icon .main-body {
  fill: transparent;
}

.like-icon:hover .core {
  fill: var(--Contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--Contour-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:not(:hover) .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition: fill 0.3s linear 0s;
}

.like-icon:active .core {
  fill: var(--Animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--Animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:not(:active) .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:not(:active) .main-body {
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .core {
  fill: var(--Animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--Animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--Animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale 0.3s ease-in 0.1s;
  transform-origin: center center;
}

.like-icon.is-liked .sparks {
  animation: opacity 0.3s ease-in 0.3s;
  transform-origin: center center;
}

.button {
  border: 2px solid var(--Border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@media (width <= 375px) {
  .header__wrapper {
    width: 100%;
  }

  .main__wrapper {
    width: 100%;
  }

  .main__button-save {
    flex-direction: column;
    row-gap: 8px;
  }

  .button__floppy {
    width: 28px;
    height: 28px;
  }

  .card__content {
    margin-top: 24.4px;
  }

  .block-for-title {
    display: flex;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 8px;
  }
}

@supports(-webkit-text-stroke: 1px var(--Text-stroke-color)) {
  .container__label {
    -webkit-text-stroke: 1px var(--Text-stroke-color);
    text-shadow: none;
  }
}




